
.hand {
    height: 500px;
    width: 300px;
    margin-top: 150px;
}

.cls-3 {
    fill: blue !important;
}

.cls-3:hover {
    fill: yellow !important;
}

.cls-1:hover {
    fill: tomato !important;
a}
